*{

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;	
}


/*navbar icon*/
a {
    text-decoration: none !important;
}

.icon {
	height: 60%;
}

.iconl{
	height: 20%;
	font-size: 0.9em;
}

.icon > img{
	height: 40px;
	width: 100%;
}

.backg{
	
	text-align: center;
	height: 100%;
	width: 	70px;
	padding: 5px;
	/*border: 1px solid black;*/
	margin-right: 10px;
	transition: transform .2s;  /*Animation*/ 

}

/*navbar toggler*/

.navbar-toggler {
    
    background-color: #2158f314;

}


.navbar{
	background-color: rgba(255,255,255,0.9);
	
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

.navbar-brand{
	padding-bottom: 0;
}

#nav-ul  li {
	
	text-align: center;
}



#navbarNav{
	margin-right: 15px; 	 	
	height: 100%;
}



.nav-item {

	text-align: left;
	color: white;
}


/*Cover landing page */
.bg {

	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 255, 0.34), rgba(0, 0, 255, 0.35) ), url('https://images.pexels.com/photos/34092/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.containerh1{

	height: 45%;
	/*border:1px solid black;*/
}

.containerh2{

	height: 40%;
}

.containerh1 > h1 {
	padding-top: 5%;
	font-size: 5em;

}

.containerh2 > p {
	padding-top: 2%;
	font-size: 1.3em;

}


.zoom:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

   -moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}

/*About US section */

.about{

	height: 100%;
	width: 100%;
	background-color: 0;
}


.box{
	position: relative; 
	height: 100%;
	width: 100%;
	/*border: 1px solid red;*/
	margin: 0px;
	padding-top: 20px;
	

}
.title {
/*	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	margin-top:0%
	background-color: black;
	height: 100vh;
	
}
.colright {
	height: 25%;
	/*border: 1px solid black;*/

}

.colrightbot {
	height: 12.5%;
	/*	*/

}

.cirle {
	padding: 0px;
	height: 100%;
	width: 	100%;
	position: relative;
	/*border: 1px solid orange;*/
}

.w4 {
	/*background-color: pink;*/
	height:60%;
	;
	background-image: url(../images/4w-BG.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
}

.the4wsinner{
	background-color: rgba(255,255,255,0.9);
	height: 300px;
	box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	


}
.the4ws{
	/*border:1px solid black;
	top: 50%;
	left: 50%;
	transform: 	translate(-50%, -50%);
	position: absolute;	*/
	margin: 0px;
	padding-top: 10%;
	padding-bottom:10%;
	width: 100%;
	height: 100%;

}

.questions {
	height: 40%;
	/*background-color:;*/
}

.cirle > h2 { 

	top: 30%;
	left: 50%;
	transform: 	translate(-50%, -50%);
	position: absolute;	
	font-size: 4em;	
	color: white;
	text-shadow: 2px 2px 4px #000;
}
.ws {
	height: 25%;
	/*border: 1px solid black;*/
}
.ws h3 {
	
	width: 100%;
	font-size: 3em;
	/*top: 50%;
	left: 50%;
	transform: 	translate(-50%, -50%);
	position: absolute;	*/
}

.whosection img {
	height: 70%;
	width: 100%;

}


.whosection {
	/*border: 4px solid red;*/
	padding-top: 20px;
	height: 100%;
	width: 	100%;
	box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.4), 0 6px 20px 5px rgba(0, 0, 0, 0.4);	
}

.questions img{
	height: 100%;
	width: 	100%;
}

.who{

	
	background: linear-gradient(rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0.35) ),url(https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-position: center;
	}
.what{

	
	background: linear-gradient(rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0.35) ),url(https://images.pexels.com/photos/212286/pexels-photo-212286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-position: center;
	}
.why{

	
	background: linear-gradient(rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0.35) ),url(	https://images.pexels.com/photos/356043/pexels-photo-356043.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-position: center;
	}
.work{

	
	background: linear-gradient(rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0.35) ),url(https://images.pexels.com/photos/326410/pexels-photo-326410.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-position: center;
	}
/*vision*/

.vision {
	height: 100%;
	width: 	100%;
	background-color: rgba(255,255,255,0.9);
	display:block;	
}

.visionp {

	font-size: 1.3em;
}

.visionbg {
	height: 50vh;
	width: 100%;
	background-image: linear-gradient(rgba(255, 255, 255, 0.34), rgba(0, 0, 255, 0.35) ),url(../images/aboutt.jpeg);
	box-shadow: 4px 4px 8px 5px rgba(0, 0, 0, 0.1), 6px 6px 20px 0 rgba(0, 0, 0, 0.19);	
	background-position: 50% 20%;
	background-size: cover;

}


.offset-md-5 > h4{
	color: rgba(0,0,255,0.9);
	font-size: 2em;


}
.core {
	height: 100%;
	width: 	100%;
	padding-top: 50px;
 	background-color: rgba(0,0,255,0.5);

}

.core p {
	color: white;
	padding-top: 10px; 	
}

strong {
	
	font-family: 'Arimo', sans-serif;
}

.linya span{
	background-color: rgba(0,0,255,0.7);
	color: white;
	padding-left: 30px;
	padding-right: 30px;
}


.corebox {
	height: 130px;
	width: 	200px;
	border-radius: 14%;
	background-color: white;
	box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1), 6px 6px 6px 6px rgba(0, 0, 0, 0.19);
	margin: 0 auto;
	position: relative;	


}

.corebox h4 {
	top: 50%;
	left: 50%;
	transform: 	translate(-50%, -50%);
	position: absolute;	

} 

.linya{
	border:0px solid black;
	
}

.whysection {

	height: 100%;
	width: 100%;
	background-color: white;
	display: block;
}


#loading {
		height: 200px;
		width: 	200px;
		-webkit-animation: rotation 4s infinite linear;
		margin: 0px;
}


@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


.coreboxcell {
	background-color: white;

	
}

.servicebox{
	height: 160px;
	width : 23.33%;
	margin: 30px 5%;
/*	border: 2px groove rgb(102, 102, 153, 0.1);*/
	float: left;
	padding: 7px;
	transition: transform .2s;  Animation
}



/*footer*/

.fsocial{
	background-color: rgba(0,0,255,0.5);
}

.list-unstyled  a  {
	color: 	#212529;
}


.slogos{
	padding-left: 90px;
	margin-left: 90px;
}
.sociallogo{

 	background-color: rgba(0,0,255,0.7);
 	
}
footer img{
	
	height: 30px;
	width: 	30px;
}


.sociallogo a {
	color: white;
}

.clear:after{
	content: " ";
	clear: both;
	display: block;	
}






/*Mobile VIEW*/
@media only screen and (max-width: 575.98px) {

.backg{
	width: 	auto;
}

/*About us font size*/
.vision h1{
	font-size: 3em;
}

/*4w of 4w*/

.the4wsinner{
	background-color: rgba(255,255,255,0.9);
	height: 160px;
	box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.the4wsinner h2{
	font-size: 2em;
}

.the4wsinner img{
	height: 100px;
}


/*shake hands content*/

.whosection h2 {
	font-size: 2em;
}

.whosection img {
	height: 50%;
}
.pt-5 {
	padding-top: 0px!important;
}


#loading {
		height: 110px;
		width: 	110px;
		
}
/*corebox*/

.corebox {
	height: 80px;
	width:  100%;
	border-radius: 14%;
	background-color: white;
	box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1), 6px 6px 6px 6px rgba(0, 0, 0, 0.19);
	margin: 0 auto;
	position: relative;	


}

.corebox h4{
	font-size: 1em;
}

.core p {
	font-size: 0.7em;
}

/*fontsize we are here to work*/

.display-4{
	font-size: 2em;
}

.display-3 {
	font-size: 3em;
}
.linya > h3 {
	font-size: 1.4em;
}

.linya span{
	padding-left: 10px;
	padding-right: 10px;
}

.slogos{

	
	padding-left: 0px;
	margin-left: 0px;
}

.zoom:hover {
    transform: scale(1.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

   -moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}
	}



/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 

.backg{
	width: 	auto;
}

/*About us font size*/
.vision h1{
	font-size: 3em;
}

/*4w of 4w*/

.the4wsinner{
	background-color: rgba(255,255,255,0.9);
	height: 160px;
	box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.the4wsinner h2{
	font-size: 2em;
}

.the4wsinner img{
	height: 100px;
}


/*shake hands content*/

.whosection h2 {
	font-size: 2em;
}

.whosection img {
	height: 50%;
}
.pt-5 {
	padding-top: 0px!important;
}


#loading {
		height: 110px;
		width: 	110px;
		
}
/*corebox*/

.corebox {
	height: 80px;
	width:  100%;
	border-radius: 14%;
	background-color: white;
	box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1), 6px 6px 6px 6px rgba(0, 0, 0, 0.19);
	margin: 0 auto;
	position: relative;	


}

.corebox h4{
	font-size: 1em;
}

.core p {
	font-size: 0.7em;
}

/*fontsize we are here to work*/

.display-4{
	font-size: 2em;
}

.display-3 {
	font-size: 3em;
}
.linya > h3 {
	font-size: 1.4em;
}

.linya span{
	padding-left: 10px;
	padding-right: 10px;
}

.slogos{

	
	padding-left: 0px;
	margin-left: 0px;
}

.zoom:hover {
    transform: scale(1.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

   -moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}
	}




/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

.backg{
	width: 	auto;
}
.the4wsinner h2{
	font-size: 2em;
}

.the4wsinner {

    height: 200px;
    width: 200px;

	}


.ws h3 {

	font-size: 2.1em;
}




.linya span{
	padding-left: 10px;
	padding-right: 10px;
}

#loading {
		height: 150px;
		width: 	150px;
		
}

.display-3 {

	font-size: 3em;
}

.display-4 {

	font-size: 2em;
}

.core p {

	font-size: 0.8em
}

.slogos {
     padding-left: 0px; 
     margin-left: 0px; 
}

.zoom:hover {
    transform: scale(1.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

   -moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {



.slogos {
     padding-left: 50px; 
     margin-left: 0px; 
}

}