*{

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;	
}


/*Navbar*/

.icon > img{
	height: 100%;
	width: 100%;
}

#hamburger{
	color: black;
	z-index: 99999;
}


.navbar{
	background-color: rgba(255,255,255,0.9);
	height: 10vh;
	width: 100%;
	margin-right: 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

.navbar-brand{
	padding-bottom: 0;
}

#nav-ul  li {
	
	text-align: center;
}

.backg{
	
	text-align: center;
	height: 10vh;
	width: 	70px;
	/*border: 1px solid black;*/
	margin-right: 10px;
	transition: transform .2s;  /*Animation*/ 

}

#navbarNav{
	margin-right: 15px; 	 	
	height: 100%;
}




.nav-item {

	text-align: left;
	color: white;
}


/*Cover landing page */
.bg {

	height: 100vh;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 255, 0.34), rgba(0, 0, 255, 0.35) ), url('https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 0px;
	padding-top: 0px;
}

.containerh1{

	height: 45%;
	/*border:1px solid black;*/
}

.containerh2{

	height: 40%;
}


.containerh1 > h1 {
	padding-top: 5%;
	font-size: 5em;

}

.containerh2 > p {
	padding-top: 2%;
	font-size: 1.3em;

}

.iconl{
	height: 50%;
	font-size: 0.9em;
}

.icon {
	height: 60%;
	padding-top:30%; 	
}


.zoom:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

   -moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}

/*About US section */

.about{

	height: 100%;
	width: 100%;
	background-color: 0;
}


.box{
	height: 90vh;
	border: 1px solid red;
	

}
.title {
	margin-top: 40%;
}
.colright {
	height: 25%;
	border: 1px solid black;

}

.colrightbot {
	height: 12.5%;
	border: 1px solid black;

}

.cirle {

	border: 1px solid orange;
}

.w4 {
	height: 100px;
	border: 1px solid blue;
}

.bilog {
	background-color: blue;
	border-radius: 50%;
	height: 100%;
	width: 	100%;
	position: relative;	
}

.ws {
	position: relative;	
}

.bilog > h3 { 

	top: 50%;
	left: 50%;
	transform: 	translate(-50%, -50%);
	position: absolute;	
}

.ws > h3 {
	
	width: 100%;
	font-size: 4em;
	top: 50%;
	left: 50%;
	transform: 	translate(-50%, -50%);
	position: absolute;	
}

/*who*/
.who {
	height: 100%;
	width: 	100%;
	background-color: skyblue;
	display:block;	
}

.who img{

	width: 	100%;
}

/*vision*/

.vision {
	height: 100%;
	width: 	100%;
	background-color: yellow;
	display:block;	
}

.core {
	height: 100%;
	width: 	100%;
	background-color: brown;

}

.corebox {
	height: 130px;
	width: 	200px;
	border-radius: 14%;
	background-color: yellow;
	margin: 0 auto;
	position: relative;	


}

.corebox h4 {
	top: 50%;
	left: 50%;
	transform: 	translate(-50%, -50%);
	position: absolute;	

} 

.linya{
	border:0px solid black;
	
}

.why {

	height: 100%;
	width: 100%;
	background-color: white;
	display: block;
}


#loading {
		height: 150px;
		width: 	150px;
		-webkit-animation: rotation 4s infinite linear;
		margin: 0px;
}


@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


.coreboxcell {
	background-color: white;

	
}
@media only screen and (max-width: 411px) {


#loading {
		height: 100px;
		width: 	100px;
		-webkit-animation: rotation 4s infinite linear;
		margin: 0px;
}

.linya > h3 {
	font-size: 1.5em;
}
.about{

	height: 90vh;
	width: 100%;
	background-color: white;
}

h2 {
	font-size: 	4em;
}

.box{
	border: 1px solid red;
	height: 500px;

}

.colright {
	height: 25%;
	border: 1px solid black;

}

.colrightbot {
	height: 12.5%;
	border: 1px solid black;

}

.cirle {

	border: 1px solid orange;
}

.w4 {
	height: 100px;
	border: 1px solid blue;
}

.bg {

	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 255, 0.34), rgba(0, 0, 255, 0.35) ), url('https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	margin-bottom: 0px;
	padding-top: 0px;

}	

.ws > h3 {
	
	width: 100%;
	font-size: 2em;
	top: 50%;
	left: 50%;
	transform: 	translate(-50%, -50%);
	position: absolute;	
}

	}









.servicebox{
	height: 160px;
	width : 23.33%;
	margin: 30px 5%;
/*	border: 2px groove rgb(102, 102, 153, 0.1);*/
	float: left;
	padding: 7px;
	transition: transform .2s;  Animation
}



/*footer*/
.info{
	height: 200px;
	background-color: /*#0087E2;*/rgb(0, 0, 255 , 0.6);
	
}

.footerinfo{

	height: 60%;
	width : 23%;
	margin: 25px 1% 0px 1%;	
	/*border: 2px solid black;*/
	float: left;
	

}


.list-unstyled  a  {
	color: 	#212529;
}

footer {
	/*position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
*/
	
	background-color: /*#0087E2;*/rgba(0, 0, 255, 0.7);
	height: 100px;
}

.media {
	/*background-color: red;*/
	width: 100%;
	text-align: left;
}

.sociallogo{

 	padding-top:50px;
 	
}
footer img{
	
	height: 30px;
	width: 	30px;
}


.clear:after{
	content: " ";
	clear: both;
	display: block;	
}





/* mobile media !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


@media only screen and (max-width: 411px) {

.navbar {
	background-color: white;
	z-index: 9999;

}


.containerh1{

	height: 45%;
	/*border:1px solid black;*/
}

.containerh2{

	height: 40%;
}


.containerh1 > h1 {
	padding-top: 5%;
	font-size: 3em;

}



#nav-ul  li {
	background-color: 	white;
	text-align: center;
}



/*about mobile*/

.aboutpage{

	height: 100vh;
	/*border: 1px solid red;*/
	margin: 0px;

	background-color: white;
	
}

.about{
	height: 20%;
	padding-top: 0%;
	margin-bottom: 0%;

}

.aboutrow{
	padding-top: 0%;
	height: 50%;
	/*border: 1px solid black;*/
	
}

.cell {

		height: 60%;
		width: 100%;
		/*border: 1px solid black;*/
		

}
.para{
	text-align: center;
	padding-top: 30px;
}


.cell > img{
	width: 6%;
	height: 6%;
	

}



.services1{

	height: 100vh;
	margin-top: 10px;
	background-color: white;
}

.servicebox{

	height: 15.5%;
	width : 100%;
	margin: 1% 0%;
	/*border: 1px solid black;*/
	float: left;
}

.media > img{
	height: 45px;
	width: 	45px;
	margin-right: 10px;
	margin-top: 5px;		

}
.media-body > h5{
	font-size: 1em;
}

.media-body > p{
	font-size: 1em;
}

#navbarNav{
	margin: 0; 	 	
	height: 100%;
}

.bg > h1 {

	font-size: 	3em;
}


.cell > img {

	height: 100%;
	width: 	100%;
}



.jumbotron > h3{

	font-size: 3em;
}


.info{
	height: 80vh;

	background-color: rgb(26, 26, 255 , 0.8)
}
.footerinfo{

	height: 40%;
	width : 48%;
	margin: 25px 1% 0px 1%;	
	/*border: 2px groove black;*/
	float: left;	

}





.sociallogo {
	text-align: center;
	font-size: 0.95em;
 	padding-top: 0px;
 	
 	
}

.zoom:hover {
    transform: scale(1.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

   -moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}

#hamburger{

	color: black;
}



