*{

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;	
}

/*navbar icon*/

a {
    text-decoration: none !important;

}

.icon {
	height: 60%;
}

.iconl{
	height: 40%;
	font-size: 0.9em;
}

.icon > img{
	height: 40px;
	width: 100%;
}

.backg{
	
	text-align: center;
	height: 100%;
	width: 	70px;
	padding: 5px;
	/*border: 1px solid black;*/
	margin-right: 10px;
	transition: transform .2s;  /*Animation*/ 

}

/*navbar toggler*/

.navbar-toggler {
    
    background-color: #2158f314;

}
/*Landing Page*/
.containerh1{

	height: 50%;
	/*border:1px solid black;*/
}

.containerh2{
	margin-top: 3%;
	height: 50%;
}


/*H1 4w Marketing TITLE*/
.containerh1 > h1 {
	padding-top: 1%;
	font-size: 5em;
        width: 100%;
        font-size: 100px;
        margin: 10px auto;
        text-align: center;
        color: #fff;
        text-shadow: 0px 1px 1px #ddd,
                     0px 2px 1px #d6d6d6,
                     0px 3px 1px #ccc,
                     0px 4px 1px #c5c5c5,
                     0px 5px 1px #c1c1c1,
                     0px 6px 1px #bbb,
                     0px 7px 1px #777,
                     0px 8px 3px rgba(100, 100, 100, 0.2),
                     0px 9px 5px rgba(100, 100, 100, 0.1),
                     0px 10px 7px rgba(100, 100, 100, 0.15),
                     0px 11px 9px rgba(100, 100, 100, 0.2),
                     0px 12px 11px rgba(100, 100, 100, 0.25),
                     0px 13px 15px rgba(100, 100, 100, 0.2);
     transition:all .8s ease-in-out;  
      -o-transition:all .8s ease-in-out;  
      -moz-transition:all .8s ease-in-out;  
      -webkit-transition:all .8s ease-in-out;
   
}


/*buttons*/
.button {
  border-radius: 4px;
  background-color: #005CFF;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



.navbar{
	background-color: rgba(255,255,255,0.9);
	
	width: 100%;
	margin-right: 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

.navbar-brand{
	padding-bottom: 0;
}

#nav-ul  li {
	
	text-align: center;
}



#navbarNav{
	margin-right: 15px; 	 	
	height: 100%;
}




.nav-item {

	text-align: left;
	color: white;
}


/*Cover landing page */
.bg {

	height: 100%;
	overflow: hidden;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 255, 0.34), rgba(0, 0, 255, 0.35) ), url('https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	 background-attachment: fixed;
	margin-bottom: 0px;
	padding-top: 0px;
}





.containerh2 > p {

	font-size: 1.3em;

}




.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
   
   -moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}

/*About US section */

.aboutpage{
	height: 100%;
	/*border: 1px solid black;*/
	padding-bottom: 20px;
	margin-top: -35px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	z-index: 99999;
}

.aboutpage:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 255, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.cell {
		height: 100%;
		width: 100%;
		/*border: 1px solid black;*/
}
.about{
	height: 20%;
	padding-top: 2%;
	margin-bottom: 2%;
}
.aboutrow{
	padding-top: 2%;
	height: 60%;	
}

.cell > img{
	width: 100%;
	height: 100%;	
}


.para > h2 {
	font-size: 5em;
	font-weight: bold;
	font-family: 'Open Sans Condensed', sans-serif;
}

/*Services section page */

.services1{
	height: 70vh;
	margin-top: 5%;
	background-color: white;
}

.media > img{
	height: 50px;
	width: 	50px;
	margin-right: 10px;
	margin-top: 5px;		
}

.media {
	height: 70px;
	width: 100%;
	 background-color: white;
	 border-radius: 10px;
	 padding: 7px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 transition: transform .2s;  Animation
	/*color: #B9B6B6;*/
}

.media-body > h5 {
	color: black;
}

.workssection{
	padding-left: 40px; 
	padding-right: 40px; 
	background-color: rgb(0, 0, 255 , 0.25)
}


/*footer*/

.fsocial{
	background-color: rgba(0,0,255,0.5);
}

.list-unstyled  a  {
	color: 	#212529;
}


.slogos{
	padding-left: 90px;
	margin-left: 90px;
}
.sociallogo{

 	background-color: rgba(0,0,255,0.7);
 	
}
footer img{
	
	height: 30px;
	width: 	30px;
}


.sociallogo a {
	color: white;
}

.clear:after{
	content: " ";
	clear: both;
	display: block;	
}





/* mobile media !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/


@media only screen and (max-width: 575.98px) {


.bg {

	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 255, 0.34), rgba(0, 0, 255, 0.35) ), url('https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	margin-bottom: 0px;
	padding-top: 0px;

}


.backg{
	
	width: 	auto;
	padding: 5px;
	margin-right: 10px;
	transition: transform .2s;  /*Animation*/ 

}
.containerh1{

	height: 45%;
	/*border:1px solid black;*/
}

.containerh2{

	height: 40%;
}


.containerh1 > h1 {
	margin-top: 10px;
	font-size: 3em;

}

/*worksection*/

.workssection{
	
	background-color: rgb(0, 0, 255 , 0.25)
}

.my-3 {
	margin-top: 1px!important;
	text-align: left;
}


.media {
	padding-right: 30px;
	padding-left: 30px;		

}

#nav-ul  li {
	background-color: 	white;
	text-align: center;
}



/*about mobile*/

.aboutpage{
	height: 700px;
	/*border: 1px solid black;*/
	margin-top: 0px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	z-index: 99999;
}

.about{
	height: 10%;
	padding-top: 0%;
	margin-bottom: 0%;

}


.cell {

		height: 60%;
		width: 100%;
		/*border: 1px solid black;*/
		

}

.para h2 {

		font-size: 	3em;
		/*border: 1px solid black;*/
		

}
.para{
	
	padding-top: 10px;
}


.cell > img{
	width: 6%;
	height: 6%;
	

}



.services1{

	height: 100vh;
	margin-top: 10px;
	background-color: white;
}



.media-body > h5{
	font-size: 1em;
}

.media-body > p{
	font-size: 1em;
}

#navbarNav{
	margin: 0; 	 	
	height: 100%;
}

.bg > h1 {

	font-size: 	3em;
}


.cell > img {

	height: 100%;
	width: 	100%;
}



.jumbotron > h3{

	font-size: 3em;
}

.clients {
	font-size: 1.4rem
}


.sociallogo {
	text-align: center;
	font-size: 0.95em;
 	padding-top: 0px;
 	
 
}

.slogos{
	padding-left: 0px;
	margin-left: 0px;
}

.zoom:hover {
    transform: scale(1.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    
   -moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}



}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 

.navbar {
	background-color: rgba(255,255,255,0.9);
	z-index: 9999;

}
.bg {

	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 255, 0.34), rgba(0, 0, 255, 0.35) ), url('https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	margin-bottom: 0px;
	padding-top: 0px;

}


.backg{
	
	width: 	auto;
	padding: 5px;
	margin-right: 10px;
	transition: transform .2s;  /*Animation*/ 

}

.containerh1 > h1 {
	margin-top: 10px;
	font-size: 3em;

}


.clientss{
	font-size: 2em;
}


.about{
	height: 20%;
	padding-top: 0%;
	margin-bottom: 0%;

}


.cell {

		height: 60%;
		width: 100%;
		/*border: 1px solid black;*/
		

}

.para h2 {

		font-size: 	3em;
		/*border: 1px solid black;*/
		

}
.para{
	
	padding-top: 10px;
}


.cell > img{
	width: 6%;
	height: 6%;
	

}


.media > img{
	height: 45px;
	width: 	45px;
	margin-right: 10px;
	margin-top: 5px;		

}
.media-body > h5{
	font-size: 1em;
}

.media-body > p{
	font-size: 1em;
}

.cell > img {

	height: 100%;
	width: 	100%;
}


.sociallogo {
	text-align: center;
	font-size: 0.95em;
 	padding-top: 0px;
 	
 
}

.slogos{
	padding-left: 0px;
	margin-left: 0px;
}

.clients {
	font-size: 1rem
}

.zoom:hover {
    transform: scale(1.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

   -moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}



}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

.navbar {
	background-color: rgba(255,255,255,0.9);
	z-index: 9999;

}
.bg {
	height: 100%;
}


.backg{	
	width: 	100%;
}


.containerh1 >h1 {
	
	font-size:3em;

}

.my-3 {
	margin-top: 0px!important;
	
}
.my-2 {
	margin-top: 0px!important;
	
}



.aboutpage{

	height: 100%;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	
}

.about{
	height: 20%;
	padding-top: 0%;
	margin-bottom: 0%;

}


.cell {

		height: 60%;
		width: 100%;		
}

.para h2 {
		font-size: 	3em;
}
.para{
	
	padding-top: 10px;
}


.media-body > h5{
	font-size: 1em;
}


.cell > img {

	height: 100%;
	width: 	100%;
}


.sociallogo {
	font-size: 1em;
 	padding-top: 0px;
 	
 	
}

.slogos{
	padding-left: 0px;
	margin-left: 0px;
}
.zoom:hover {
    transform: scale(1.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

   -moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}

}


/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {


.navbar {
	background-color: rgba(255,255,255.0.9);
	z-index: 9999;

}
.bg {

	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 255, 0.34), rgba(0, 0, 255, 0.35) ), url('https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	margin-bottom: 0px;
	padding-top: 0px;

}


.containerh1 >h1 {
	
	font-size:5em;

}


.about{
	
	padding-top: 0%;
	margin-bottom: 0%;

}

.para h2 {
		font-size: 	4em;
}

.para{
	
	padding-top: 20px;
}

.media-body > h5{
	font-size: 1em;
}

.cell > img {

	height: 100%;
	width: 	100%;
}


.sociallogo {
	
	font-size: 1.1em;
 	padding-top: 0px;
 	
}

.slogos {
     padding-left: 50px; 
     margin-left: 0px; 
}

 }