*{

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;	
}

/*navbar icon*/

a {
    text-decoration: none !important;
}

.icon {
	height: 60%;
}

.iconl{
	height: 20%;
	font-size: 0.9em;
}

.icon > img{
	height: 40px;
	width: 100%;
}

.backg{
	
	text-align: center;
	height: 100%;
	width: 	70px;
	padding: 5px;
	/*border: 1px solid black;*/
	margin-right: 10px;
	transition: transform .2s;  /*Animation*/ 

}

/*navbar toggler*/

.navbar-toggler {
    
    background-color: #2158f314;

}

.contacts > input {
	width: 100%;
}

.contactsection{
	height: 80%;
	background-color: rgba(46, 92, 191, 0.9);
}

.rheight{
	height: 100%;
}

textarea {
	width: 100%;
	height: 150px;
}


.navbar{
	background-color: rgba(255,255,255,0.9);
	width: 100%;
	margin-right: 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);	
}

.navbar-brand{
	padding-bottom: 0;
}

#nav-ul  li {
	
	text-align: center;
}



#navbarNav{
	margin-right: 15px; 	 	
	height: 100%;
}




.nav-item {

	text-align: left;
	color: white;
}


/*Cover landing page */
.bg {

	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 255, 0.34), rgba(0, 0, 255, 0.35) ), url('https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 0px;
	padding-top: 0px;
}

.containerh1{

	height: 20%;
	/*border:1px solid black;*/
}

h1 {
	overflow: hidden;
	font-family: 'Old Standard TT', serif;
}


h2 {
		font-family: 'EB Garamond', serif;
		font-size: 	3em;
		color: rgb(	255, 252, 255);
}

h3{
	font-family: 'Old Standard TT', serif;
}

.contacts > p{
	font-size: 	2em;
	font-family: 'Old Standard TT', serif;
}
.containerh2{

	height: 40%;
}


.containerh1 > h1 {
	padding-top: 15px;
	font-size: 5em;

}

.containerh2 > p {
	padding-top: 2%;
	font-size: 1.3em;

}




.zoom:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

   -moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}

/*About US section */

.aboutpage{
	height: 100%;
	padding: 0;
	margin-top: 0px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	z-index: 99999;
}

.aboutpage:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 255, .5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}


/*footer*/

.fsocial{
	background-color: rgba(0,0,255,0.5);
}

.list-unstyled  a  {
	color: 	#212529;
}


.slogos{
	padding-left: 90px;
	margin-left: 90px;
}
.sociallogo{

 	background-color: rgba(0,0,255,0.7);
 	
}
footer img{
	
	height: 30px;
	width: 	30px;
}


.clear:after{
	content: " ";
	clear: both;
	display: block;	
}







/*// Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575.98px) {

.navbar {
	background-color: white;
	z-index: 9999;

}

.backg{
	
	width: 	auto;
	padding: 5px;
	margin-right: 10px;
	transition: transform .2s;  /*Animation*/ 

}


.bg {

	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 255, 0.34), rgba(0, 0, 255, 0.35) ), url('https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	margin-bottom: 0px;
	padding-top: 0px;

}

.containerh1{

	height: 45%;
	/*border:1px solid black;*/
}

.containerh2{

	height: 40%;
}


.containerh1 > h1 {
	padding-top: 5%;
	font-size: 3em;

}



#nav-ul  li {
	background-color: 	white;
	text-align: center;
}



/*about mobile*/

.aboutpage{

	height: 100vh;
	/*border: 1px solid red;*/
	margin: 0px;

	background-color: white;
	
}

.about{
	height: 20%;
	padding-top: 0%;
	margin-bottom: 0%;

}

.aboutrow{
	padding-top: 0%;
	height: 50%;
	/*border: 1px solid black;*/
	
}

.cell {

		height: 60%;
		width: 100%;
		/*border: 1px solid black;*/
		

}
.para{
	text-align: center;
	padding-top: 30px;
}


.cell > img{
	width: 6%;
	height: 6%;
	

}



.services1{

	height: 100vh;
	margin-top: 10px;
	background-color: white;
}

.servicebox{

	height: 15.5%;
	width : 100%;
	margin: 1% 0%;
	/*border: 1px solid black;*/
	float: left;
}

.media > img{
	height: 45px;
	width: 	45px;
	margin-right: 10px;
	margin-top: 5px;		

}
.media-body > h5{
	font-size: 1em;
}

.media-body > p{
	font-size: 1em;
}

#navbarNav{
	margin: 0; 	 	
	height: 100%;
}

.bg > h1 {

	font-size: 	3em;
}


.cell > img {

	height: 100%;
	width: 	100%;
}



.jumbotron > h3{

	font-size: 3em;
}

.slogos{
	padding-left: 0px;
	margin-left: 0px;
}

.sociallogo {
	text-align: center;
	font-size: 0.95em;
 	padding-top: 0px;
 	
 	
}

.zoom:hover {
    transform: scale(1.0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

   -moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}

}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 

/*Cover landing page */
.bg {

	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 255, 0.34), rgba(0, 0, 255, 0.35) ), url('https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 0px;
	padding-top: 0px;
}

.backg{
	
	width: 	auto;
	padding: 5px;
	margin-right: 10px;
	transition: transform .2s;  /*Animation*/ 

}

.slogos{
	padding-left: 0px;
	margin-left: 0px;
}

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	/*Cover landing page */
.bg {

	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 255, 0.34), rgba(0, 0, 255, 0.35) ), url('https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 0px;
	padding-top: 0px;
}

.backg{
	
	width: 	auto;
	padding: 5px;
	margin-right: 10px;
	transition: transform .2s;  /*Animation*/ 

}
.slogos{
	padding-left: 0px;
	margin-left: 0px;
}


	}




/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

	/*Cover landing page */
.bg {

	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0, 0, 255, 0.34), rgba(0, 0, 255, 0.35) ), url('https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 0px;
	padding-top: 0px;
}

.slogos {
     padding-left: 50px; 
     margin-left: 0px; 
}


}